ul {
  list-style-type: none !important;
}

#css-example {
  color: blue;
  text-align: center;
}
#floats-example {
  float: left;
}
#boxmodel-example {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}
